:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --logo-text-color: #000000;
  --sacondary-white-color: #ffffff;
  --primary-background-color: #f5f4fa;
  --sacondary-background-color: #e5e5e5;
  --footer-bacground-color: #2f303a;
  --animation-timing: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.advantage-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.gallery-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.footer-button {
  color: var(--white-color);
  -webkit-box-shadow: 4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  border: 0;
  padding: 10px 28.5px;
  -webkit-transition: background-color, -webkit-transform var(--animation-timing);
  transition: background-color, -webkit-transform var(--animation-timing);
  transition: background-color, transform var(--animation-timing);
  transition: background-color, transform var(--animation-timing), -webkit-transform var(--animation-timing);
}

.footer-button:hover {
  background-color: #188ce8;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  margin-top: 30px;
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  -webkit-transition: background-color, -webkit-transform var(--animation-timing);
  transition: background-color, -webkit-transform var(--animation-timing);
  transition: background-color, transform var(--animation-timing);
  transition: background-color, transform var(--animation-timing), -webkit-transform var(--animation-timing);
}

.hero-button:hover {
  background-color: #188ce8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.hero-primary-button {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.sacondary-button {
  color: var(--title-text-color);
  background-color: var(--primary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  padding: 6px 22px;
  -webkit-transition: color, background-color var(--animation-timing), -webkit-box-shadow;
  transition: color, background-color var(--animation-timing), -webkit-box-shadow;
  transition: box-shadow, color, background-color var(--animation-timing);
  transition: box-shadow, color, background-color var(--animation-timing), -webkit-box-shadow;
}

.sacondary-button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-button {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: var(--sacondary-white-color);
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  /*padding: 10px 55px;*/
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--animation-timing);
  transition: background-color var(--animation-timing);
  margin-top: 30px;
}

.modal-button:hover {
  color: var(--white-color);
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.header__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-text-color);
  margin-right: 93px;
  padding-left: auto;
}

.header__design {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: opacity 250ms, visibility 250ms;
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

.modal {
  min-width: 528px;
  height: 581px;
  background-color: var(--sacondary-white-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform var(--animation-timing);
  transition: -webkit-transform var(--animation-timing);
  transition: transform var(--animation-timing);
  transition: transform var(--animation-timing), -webkit-transform var(--animation-timing);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  padding: 40px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(0.1);
            transform: rotate(0deg) scale(0.1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.3);
            transform: rotate(180deg) scale(0.3);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(0.1);
            transform: rotate(0deg) scale(0.1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(0.3);
            transform: rotate(180deg) scale(0.3);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

.modal-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--sacondary-white-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
}

.modal-close:hover use {
  fill: #2196F3;
}

.modal-close:hover .modal-close-icon {
  fill: #2196f3;
}

.modal-close use {
  fill: #000000;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-close-icon {
  -webkit-transition: fill var(--animation-timing);
  transition: fill var(--animation-timing);
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: #000000;
  outline: none;
  -webkit-transition: border-color var(--animation-timing);
  transition: border-color var(--animation-timing);
}

.form-input::-webkit-input-placeholder {
  color: #2196f3;
}

.form-input:-ms-input-placeholder {
  color: #2196f3;
}

.form-input::-ms-input-placeholder {
  color: #2196f3;
}

.form-input::placeholder {
  color: #2196f3;
}

.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-input-email {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.25;
  outline: none;
  -webkit-transition: border-color var(--animation-timing);
  transition: border-color var(--animation-timing);
  margin-right: 12px;
  font-size: 16px;
  background-color: #2F303A;
}

.input-text {
  font-size: 12px;
  color: #757575;
  display: block;
  margin-bottom: 4px;
  line-height: 1.15;
}

.form-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--animation-timing);
  transition: fill var(--animation-timing);
}

.form-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding: 12px 16px;
  resize: none;
}

.form-text:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-text::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-text:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-text::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.field {
  border: 1px solid tomato;
  border-radius: 5px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.policy-icon {
  fill: transparent;
}

.policy-check:checked + .check-text span {
  border: none;
  background-color: #2196f3;
}

.policy-check:checked + .check-text .policy-icon {
  fill: #ffffff;
}

.checkbox-contract {
  color: #2196f3;
  padding-left: 3px;
}

.form-field-checkbox {
  margin-left: 13px;
  margin: 0px;
}

.check-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check-text .input-icon {
  left: 3px;
}

.header {
  background-color: var(--white-color);
  border-bottom: #ECECEC solid 1px;
  padding: 24px 0px 25px 0px;
}

.header-site-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-transition: color var(--animation-timing);
  transition: color var(--animation-timing);
}

.header-site-nav .link:hover, .header-site-nav .link:focus {
  color: var(--accent-color);
}

.header-site-nav .link.header-current {
  color: var(--accent-color);
  position: relative;
}

.header-site-nav__item {
  list-style: none;
}

.header-site-nav__item:nth-child(2) {
  margin: 0px 50px 0px 50px;
}

.header-site-nav__item.list:nth-child(3) {
  margin-right: 331px;
}

.header-contacts .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 2%;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: right;
}

.header-contacts .link:nth-last-child(2) {
  padding-right: 0px;
}

.header-site-auth .li {
  display: block;
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-site-auth__item {
  color: var(--primary-text-color);
  list-style: none;
}

.header-site-auth__item:nth-child(2) {
  margin-left: 50px;
}

.header__container, .content-nav,
.header-site-nav, .header-site-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-site-auth {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contacts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-text-color);
  text-decoration: none;
  -webkit-transition: color var(--animation-timing), -webkit-transform;
  transition: color var(--animation-timing), -webkit-transform;
  transition: transform, color var(--animation-timing);
  transition: transform, color var(--animation-timing), -webkit-transform;
}

.header-contacts:hover, .header-contacts:focus {
  color: var(--accent-color);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.header-current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: #2196f3;
  left: 0;
  bottom: 0;
}

.hero {
  background-color: #2f303a;
  padding: 200px 0px 200px 0px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bacground-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-overlay-squoosh.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-overlay-squoosh.jpg);
  background-repeat: no-repeat;
  background-position: center;
  block-size: cover;
}

.section-advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-advantage.list {
  margin-right: 30px;
}

.advantage-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.advantage-site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.advantage-site-nav__item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.features-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background: var(--primary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.directions-photos__item {
  display: block;
}

.directions {
  padding-bottom: 94px;
}

.directions-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.directions-photos .list {
  margin-left: 30px;
  text-align: center;
  position: relative;
}

.box-label {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.label-title {
  color: var(--sacondary-white-color);
  font-weight: bold;
  line-height: 0.87;
  padding-top: 27px;
  padding-bottom: 27px;
  letter-spacing: 0.03em;
  font-size: 14px;
  text-transform: uppercase;
}

.our-team .our-team-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.our-team-employee {
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.our-team .our-team-position {
  font-size: 16px;
  line-height: 1.19;
}

.our {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}

.section-our-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.master-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex-wrap: wrap;*/
  margin-left: -30px;
}

.master-list__item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.masters-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--sacondary-white-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--animation-timing);
  transition: background-color var(--animation-timing);
}

.masters-social-link:hover, .masters-social-link:focus {
  background-color: var(--accent-color);
}

.masters-social-link:hover .masters-social-icon, .masters-social-link:focus .masters-social-icon {
  fill: var(--sacondary-white-color);
}

.masters-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.masters-social-list__item:last-child {
  margin-left: 10px;
}

.masters-social-list__item {
  list-style-type: none;
}

.masters-social-icon {
  fill: #afb1b8;
  -webkit-transition: fill var(--animation-timing);
  transition: fill var(--animation-timing);
}

.section-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client-list__item + .client-list__item {
  margin-left: 30px;
}

.client-list__item {
  width: 170px;
  height: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: #afb1b8 solid 1px;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  -webkit-transition: border-color var(--animation-timing);
  transition: border-color var(--animation-timing);
}

.client-link:hover, .client-link:focus {
  border-color: #2196f3;
}

.client-link:hover .client-icon, .client-link:focus .client-icon {
  fill: #2196f3;
}

.client-icon {
  fill: currentColor;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transition: fill var(--animation-timing);
  transition: fill var(--animation-timing);
}

.footer {
  background-color: var(--footer-bacground-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  margin-bottom: 20px;
  display: inline-block;
}

.footer-logo-design {
  color: var(--accent-color);
}

.footer-contact {
  font-style: normal;
}

.footer-list .link {
  color: var(--sacondary-white-color);
  -webkit-transition: color var(--animation-timing);
  transition: color var(--animation-timing);
}

.footer-list .link:hover, .footer-list .link:focus {
  color: var(--accent-color);
}

.footer-contact .contact-location {
  color: var(--white-color);
}

.footer-list__item:not(:first-child) {
  margin-top: 9px;
}

.footer-list__item {
  list-style: none;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-center {
  display: block;
  margin-left: 70px;
}

.join-title {
  display: block;
  font-size: inherit;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--sacondary-white-color);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
}

.footer-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icons-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--sacondary-white-color);
  -webkit-transition: background-color var(--animation-timing);
  transition: background-color var(--animation-timing);
}

.footer-icon {
  fill: currentColor;
}

.footer-icon-link:hover, .footer-icon-link:focus {
  background-color: var(--accent-color);
}

.footer-right {
  display: block;
  margin-left: 93px;
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-wrap {
  border-color: #2f303a;
  color: #2f303a;
}

.list .title-works {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 171%;
  letter-spacing: 6%;
  color: var(--title-text-color);
}

.list .kind-works {
  margin-top: 4px;
  margin-bottom: 0px;
  font-size: 16px;
  letter-spacing: 3%;
  line-height: 160%;
  color: var(--primary-text-color);
}

.gallery-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.gallery-nav.list {
  text-align: center;
}

.gallery-nav > li:nth-child(n + 2) {
  margin-left: 8px;
}

.card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}

.gallery-photo {
  display: block;
}

.gallery > .list {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.card-link {
  -webkit-transition: -webkit-box-shadow var(--animation-timing);
  transition: -webkit-box-shadow var(--animation-timing);
  transition: box-shadow var(--animation-timing);
  transition: box-shadow var(--animation-timing), -webkit-box-shadow var(--animation-timing);
}

.card-link:hover, .card-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-link:hover .gallery-img-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.section-projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-wrap {
  position: relative;
}

.gallery-img-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--sacondary-white-color);
  font-weight: 400;
  line-height: 1.56;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  font-size: 18px;
  height: 294px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--animation-timing);
  transition: -webkit-transform var(--animation-timing);
  transition: transform var(--animation-timing);
  transition: transform var(--animation-timing), -webkit-transform var(--animation-timing);
}

.gallery-tumb-wrap {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */