.gallery-nav 
  {display: flex;  
  margin-left: -30px;
  justify-content: center;
  margin-bottom: 50px;
  &.list{text-align: center;}
  &>li:nth-child(n + 2) {margin-left: 8px;}}                        
.card-content {padding: 20px 24px; border: 1px solid #eeeeee;}   
 .gallery 
 {padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);}
.gallery-photo {display: block;}
.gallery > .list 
{flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;} 
.card-link {transition: box-shadow var(--animation-timing);
            &:hover, &:focus 
            {box-shadow: 
              0px 1px 1px rgba(0, 0, 0, 0.12),
              0px 4px 4px rgba(0, 0, 0, 0.06),                                       
              1px 4px 6px rgba(0, 0, 0, 0.16);}
            &:hover .gallery-img-text {transform: translateY(0);}}
.section-projects {padding-top: 94px; padding-bottom: 94px;}
.list-wrap {position: relative;}
.gallery-img-text 
 {position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--sacondary-white-color);  
  font-weight: 400;
  line-height: 1.56;
  padding: 63px 24px;  
  letter-spacing: 0.03em;  
  font-size: 18px;  
  height: 294px;  
  transform: translateY(101%);
 transition: transform var(--animation-timing);}
.gallery-tumb-wrap {position: relative; overflow: hidden;}
