.our-team .our-team-employee {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);}

    .our-team-employee {margin-bottom: 10px;
                        color: var(--title-text-color);}  

   .our-team .our-team-position {
    font-size: 16px;
    line-height: 1.19;  } 
    .our {padding-top: 30px;
          padding-bottom: 30px;
        background-color: white;}

    .section-our-team {padding-top: 94px;
                       padding-bottom: 94px;
                       background-color: #f5f4fa;}
.master-list {display: flex;
              /*flex-wrap: wrap;*/
              margin-left: -30px;}

.master-list__item {width: calc(100% / 4 - 30px);
                    margin-left: 30px;
                    text-align: center;                    
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                                0px 1px 1px rgba(0, 0, 0, 0.14),
                                0px 2px 1px rgba(0, 0, 0, 0.2);
                    border-radius: 0px 0px 4px 4px;
                    overflow: hidden;}

.masters-social-link 
{width: 44px;
height: 44px;
background-color:var(--sacondary-white-color);
display: flex;
border-radius: 50%;
justify-content: center;
align-items: center;
transition: background-color var(--animation-timing);
&:hover, &:focus {background-color: var(--accent-color);}
&:hover .masters-social-icon, &:focus .masters-social-icon 
{fill: var(--sacondary-white-color);}}     
.masters-social-list 
{display: flex;
justify-content: center;
margin-top: 16px;}
.masters-social-list__item:last-child {margin-left: 10px;}
.masters-social-list__item {list-style-type: none;}
.masters-social-icon {fill: #afb1b8; transition: fill var(--animation-timing);}